body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.garden {
  margin: 50px;
}
.garden-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  text-align: center;
  font-size: 36px;
}

.bed {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 250px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 150px;
}

.cropList {
  list-style-type: none;
}

.option {
font-size: 20px;
border: none;
background: #fff;
margin: 1px;
font: "Century Gothic";
}

.selected {
  font-weight: bold;
}

.peas {
  color: #c5e1a5;
}

.kale {
  color: #1b5e20
}

.carrots {
  color: #ff5722;
}

.beets {
  color: #6a1b9a;

}

button:focus {
  outline: none;
}

.bed:focus {
  outline: none;
}

.control-panel {
  background: #fff;
  margin: 60px;
}

.instructions {
  font-size: 24px;
  font-weight: bold;
}

.kbd-navigation .bed:focus {
  background: #ddd;
}

.farm {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.farm-info {
  margin-left: 20px;
}
