body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  text-align: center;
  font-size: 36px;
}

.bed {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 300px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 150px;
}

.bed:focus {
  outline: none;
}

.control-panel {
  background: lightgray;
  margin-top: 60px;
}

.instructions {
  font-size: 24px;
}

.kbd-navigation .bed:focus {
  background: #ddd;
}

.farm {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.farm-info {
  margin-left: 20px;
}
